*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    all: unset;
}

img,
canvas{
    display: block;
}

body{
    font-family: 'Merriweather', Georgia,serif;
}

main{
    background-image: url(../assets/imgs/bgBlue.jpg);
    display: grid;
    grid-template-columns: 30% 15px 50% 15px 16%;
    position: fixed;
    width: 100%;
}

.cookie-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 0 0;
}

.cookie-space h1{
    width: 100%;
    max-width: 75%;
    background-color: #00000066;
    color: #ffffffcc;
    border-radius: 12px;
    margin-bottom: 10px;
}

.cookies-text,
.cookie-space h1{
    text-align: center;
}

.cookies-text{
    background-color: #00000066;
    color: #fff;
    width: 100%;
    text-shadow: 
    1px 0px 0px #000,
    -1px 0px 0px #000,
    0px 1px 0px #000,
    0px -1px 0px #000, 0px 1px 4px #000;
    margin-bottom: 15%;
}

.cookie-button{
    width: 100%;
    max-width: 50%;
}

.cookie-image{
    width: 100%;
}

.separator-vertical{
    width: 15px;
    background-image: url(../assets/imgs/panelVertical.png)
}

.milk-footer{
    height: fit-content;
    width: 100%;
    margin-top: 40%;
}

.milk-footer img{
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu-figure{
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 50%;
    cursor: pointer;
}

.menu-image,
.menu-figcaption{
    width: 100%;
    height: 100%;
}

.menu-figcaption{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-figcaption h3{
    color: #999;
    font-size: 16px;
    text-shadow: 
    0px 1px 0px #444, 
    0px 0px 4px #000;
    text-transform: capitalize;
}

.menu-button{
    padding: 6px 12px;
    border-radius: 5px;
    box-shadow: 
    0px 1px 0px rgb(250 180 150 / 75%) inset, 
    0px 0px 0px 1px rgb(0 0 0 / 75%), 
    0px 2px 3px rgb(250 180 150 / 50%) inset, 
    0px 1px 0px 1px rgb(250 180 150 / 2);
    border-color: #999;
}

.separator-horizontal{
    height: 15px;
    background-image: url(../assets/imgs/panelHorizontal.png);
}

.upgrade-container{
    height: 127px;
    width: 100%;
}

#grandma-container{
    background-image: url(../assets/imgs/grandmaBackground.png);
    background-repeat: repeat-x;
}